name: Deploy Laravel to HostGator

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - run: |
          echo ${{ secrets.GITHUB_TOKEN }} | gh auth login --with-token
          # use another gh cli command line
